/* Import Colfax font */
  @font-face {
      font-family: 'Colfax';
      src: url('./fonts/Colfax-Regular.woff2') format('woff2'),
          url('./fonts/Colfax-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

/* Relative font sizes */
:root {
  --base-size: 14px;
  --size-xs: calc(var(--base-size) * 0.5);
  --size-s: calc(var(--base-size) * 0.9);
  --size-m: var(--base-size);
  --size-l: calc(var(--base-size) * 1.5);
  --size-xl: calc(var(--base-size) * 2);
  --size-xxl: calc(var(--base-size) * 3);
}

/* Base text styles */
* {
  font-family: Colfax, Helvetica, sans-serif;
}


p, ul li, table td, table th{
  color: var(--darkGrey);
  font-size: var(--size-m);
}

label{
  font-size: var(--size-s);
}

/* Bold styles */
.bold-text, form > label, .header, .section-header, table th, .plot-title {
  color: var(--darkGrey);
  font-weight: bold;
}

.range-select {
  background: var(--inputTheme);
}

/* Header styles */
.header {
  font-size: var(--size-xxl);
}

.section-header, .plot-title {
  font-size: var(--size-xl);
}
.section-header {
    margin-bottom: 10px;
}

.plot-title {
    margin-bottom: 0;
}

/* Smaller text styles */
.small-text, .plot-note, .plot-source {
  font-size: var(--size-s);
}

.plot-note, .plot-source {
    margin: 5px 0;
}

/* Input panel */

.tab-wrap {
  border-radius: 6px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: solid 1px var(--theme-foreground-faintest);
}

.tab {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.tab {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tab-button:first-of-type {
  border-top-left-radius: 6px;
  border-right: solid 1px var(--theme-foreground-faintest);
}

.tab-button:last-of-type {
  border-top-right-radius: 6px;
  border-left: solid 1px var(--theme-foreground-faintest);
}

.tab-button {
  flex-grow: 1;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  transition: 0.3s background-color ease;
  background-color: var(--theme-background-alt);
  border-bottom: solid 2px var(--theme-foreground-faintest);
  padding: 7.5px 15px;

  form {
    --input-width: 100%;
    font: var(--size-m) Colfax, Helvetica, sans-serif;
  }

  button {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &:hover {
    background-color: #f9f9f9;
  }
  &.active {
    background-color: #fff;
    cursor: default;
    border: none;
    &:hover {
      background-color: #fff;
    }
  }
}

.tab-content {
  display: none;
  padding: 20px 30px;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: -1px;
  &.show {
    display: grid;
    gap: .5rem;
  }
}

/* Multi select styles */
/*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">*/

.filter-selected {
  text-wrap:wrap;
  overflow:hidden;
  display:flex;
  align-items:center;
}

.dropdown-action-buttons-container {
  padding:10px;
}

.dropdown-action-buttons {
  width:100%;
}

.dropdown-action-buttons button {
  width:50%;
  font-size:14px;
  height:30px;
  background-color:#E9E9E9;
}

.dropdown-action-buttons button:hover {
  background-color: var(--lightGrey);
}

.dropdown-list a {
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  min-height:14px!important;
}

.dropdown-list .text {
  width:90%;
}

.dropdown-inner {
  border:1px #ccc solid;
  border-radius:2px;
  background-color:white;
  margin-top:5px;
  position:absolute;
  z-index:2000;
}

.dropdown-list {
  padding:0px;
  margin:0px;
  line-height:0px;
  list-style: none;
}

.dropdown-list li {
  display:flex;
  align-content:center;
  min-height:35px;
  font-size:var(--size-s);
}

li .checkmark {
  display:none;
  float:right;
  padding-right:5px;
}

li.selected .checkmark {
  display:flex!important;
}

.dropdown-list li:hover {
  background-color:whitesmoke;
  cursor:pointer;
}
.dropdown-list li.selected:hover {
  background-color: #ffdfdf;
}

.dropdown-list>li>a {
  padding: 5px 20px!important;
  white-space: nowrap;
}

.dropdown-form {
  display:flex;
  flex-flow:row nowrap;
}

.dropdown-form label {
  font-weight:bold;
  font-size:var(--size-s);
  flex-shrink: 0;
  align-self: start;
  padding: 5px 0 4px 0;
  width: 120px;
  margin-right: 6.5px;
}

.dropdown-form form {
  width: 233.5px;
}

.dropdown-form button {
  background-color:white;
  font: normal var(--size-s) Colfax, Helvetica, sans-serif !important;
  color: #333!important;
  border:1px rgb(118, 118, 118) solid!important;
  border-radius:2px!important;
  padding: 1px 4px;
  cursor:pointer;
}

.dropdown-button button {
  width:100%;
}

/* select styles */
form select {
  font: normal var(--size-s) Colfax, Helvetica, sans-serif !important;
}

/* Plot subtitles */
.plot-subtitle {
  font-size: var(--size-l);
  margin-bottom: 20px;
  font-weight: normal;
}

.export-subtitle-label {
  color: var(--exports);
}

.import-subtitle-label {
  color: var(--imports);
}

.balance-subtitle-label {
  color: var(--balance);
}

/* Axis styles */
[aria-label="x-axis tick label"],
[aria-label="y-axis label"] text,
[aria-label="y-axis tick label"] {
  font-size: var(--size-m);
  color: var(--midGrey);
}

[aria-label="y-grid"] {
  color: var(--midGrey);
}

/* Plot annotations */
.import-label text,
.export-label text {
  font-size: var(--size-s);
  fill: var(--imports);
  text-shadow: 0.5px 0.5px 0 var(--lightGrey);
}

.export-label text {
  fill: var(--exports);
}

.country-label text {
  font-size: var(--size-m);
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0 var(--lightGrey);
}

/* Tooltip */
[aria-label="tip"] tspan {
  color: var(--darkGrey);
}

[aria-label="tip"] tspan:last-of-type {
  font-weight: bold;
}

/* format tables */
form:has(table) {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  white-space: nowrap;
  padding: 8px;
  text-align: left;
}

/* Visualizations */
.viz-container {
    padding: 40px 20px 20px 20px;
}

/* Top and bottom panels of plots and tables */
.top-panel * {
    max-width: inherit;
    box-sizing: border-box;
}

.bottom-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--size-m);
}

.text-section {
  margin: 0;
}

.logo-section img {
  height: var(--size-xxl);
  margin: 0;
}

.normal-list li {
    margin-bottom: 10px;
}

/* Download buttons */
.download-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  gap: 15px;
}

.download-panel > form {
  width: fit-content;
}

.download-panel button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: Colfax, Helvetica, sans-serif;
  font-size: var(--size-m);
  line-height: var(--size-xl);
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  /*width: 100px;*/
}

.download-panel button:hover {
  background-color: #f7fafa;
}

.download-panel button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}